body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

class buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: blue;
    background-color: brown;
}